@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 200;
    src: url(./ItalianPlateNo2Expanded-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 300;
    src: url(./ItalianPlateNo2Expanded-Light.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 400;
    src: url(./ItalianPlateNo2Expanded-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 500;
    src: url(./ItalianPlateNo2Expanded-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 600;
    src: url(./ItalianPlateNo2Expanded-DemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 700;
    src: url(./ItalianPlateNo2Expanded-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    font-style: normal;
    font-weight: 800;
    src: url(./ItalianPlateNo2Expanded-ExtraBold.woff2) format('woff2');
}